<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Model.Properties.Settings.SkeetySoftDefectsConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;|DataDirectory|\SkeetySoftDefects.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="Model.Properties.Settings.SkeetysoftDefectsConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SkeetysoftDefects.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Model.Properties.Settings.CSharp_SQLConnectionString"
            connectionString="Data Source=DESKTOP-QBVP6A5;Initial Catalog=CSharp_SQL;Persist Security Info=True;User ID=sa;Password=@wangshu1715$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>